@ var head={
<title>俱乐部查询</title>
@}; var ctrls= "ng-controller='ClubTraceCtrls'" ; var body ={
        
 <div class="easyui-layout" data-options="fit : true,border : false"  >


@if( so.hasPermission("/stat/club/clubInfo")) {
  <div  ng-model="so_view" ng-init="so_view=true"></div>
@}if(so.hasPermission("/stat/player/playerInfo")){
 <div  ng-model="so_player_view" ng-init="so_player_view=true"></div>
@}
		<div data-options="region:'north',title:'查询条件',border:false" style="height: 160px; overflow: hidden;">
			<form id="searchForm">
				<table class="table table-hover table-condensed" style="display: none;">
					<tr>
						<th>俱乐部ID</th>
						<td><input name="clubid" placeholder="精确查询" class="span2" /></td>
						<th>俱乐部名称</th>
						<td><input name="clubname" placeholder="模糊查询" class="span2" /></td>
					</tr>
	
	
				</table>
			</form>
		</div>
		<div data-options="region:'center',border:false">
			<table id="dataGrid"></table>
		</div>
	
	<div id="toolbar" style="display: none;">
@if( so.hasPermission("/stat/club/list")) {
	<a  href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_add',plain:true" onclick="$(this).scope().searchFun();">过滤条件</a> 
	<a  href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_delete',plain:true" onclick="$(this).scope().cleanFun();">清空条件</a>
@}

	</div>



</div>  
@};var js={
 
<script src="${CONTEXT_PATH}/static/app/ctrls/clubtrace-ctrls.js" type="text/javascript"></script>




 @}; include("../layout/_layout.html",{head:head,body:body,js:js,ctrls:ctrls}) {}
