@ var head={
<title>玩家查询</title>
@}; var ctrls= "ng-controller='PlayerCtrls'" ; var body ={
     
 <div class="easyui-layout" data-options="fit : true,border : false"  >
 
@if( so.hasPermission("/stat/player/playerInfo")) {
  <div  ng-model="so_view" ng-init="so_view=true"></div>
@}if( so.hasPermission("/stat/player/setpwd")) {
  <div  ng-model="so_setpwd" ng-init="so_setpwd=true"></div>
@}if( so.hasPermission("/stat/player/giveVIP")) {
  <div  ng-model="so_givevip" ng-init="so_givevip=true"></div>
@}
	<div data-options="region:'north',title:'查询条件',border:false" style="height: 160px; overflow: hidden;">
		<form id="searchForm">
			<table class="table table-hover table-condensed" style="display: none;">
				<tr>
					<th>UUID</th>
					<td><input name="uuid" placeholder="精确查询" class="span2" /></td>
					<th>showid</th>
					<td><input name="showid" placeholder="精确查询" class="span2" /></td>
					<th>昵称</th>
					<td>
					<input name="nickname" placeholder="可以模糊查询" class="span2" /></td>
				</tr>
				<tr>
				    <th>手机</th>
					<td><input name="phonenumber" placeholder="精确查询" class="span2" /></td>
					<th>国家区号</th>
					<td><input name="countrycode" placeholder="精确查询" class="span2" /></td>
					<th>注册类型</th>
					<td>
						<select  name="idtype" class="easyui-combobox span3" data-options="height:29,editable:false,panelHeight:'auto'" >
						                  <option value="">--请选择--</option>
										  <option value="ID_TYPE_PHONE">手机号</option>
										  <option value="ID_TYPE_FACEBOOK">FaceBook</option>
						</select>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div data-options="region:'center',border:false">
		<table id="dataGrid"></table>
	</div>
	
	
<div id="toolbar" style="display: none;">
	@if( so.hasPermission("/stat/player/search")) {
		<a  href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_add',plain:true" onclick="$(this).scope().searchFun();">过滤条件</a> 
		<a  href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_delete',plain:true" onclick="$(this).scope().cleanFun();">清空条件</a>
	@}
</div>

<!--  设置密码dialog -->
<div id="ddlg" class="easyui-dialog" style="width: 400px; height: 300px; padding: 5px 10px" closed="true" buttons="#ddlg-buttons"
	data-options="resizable:true,modal:true">
	<div class="easyui-layout" data-options="fit:true,border:false">
		<div data-options="region:'center',border:false" title="" style="overflow: hidden;">
			<form id="rfm" method="post">
				<table class="table table-hover table-condensed">
					<tr>
						<th width="30%" style="text-align: right;">UUID</th>
						<td><input name="uuid"  id="uuid" type="text"  class="easyui-validatebox" data-options="required:true" readonly="readonly" value=""></td>
					</tr>
					<tr>
						<th width="30%" style="text-align: right;">昵称</th>
						<td><input name="nickname"  id="nickname"  type="text" class="easyui-validatebox" data-options="required:true" readonly="readonly"  value=""></td>
					</tr>
					<tr>
						<th width="30%" style="text-align: right;">密码密文</th>
						<td><input name="pwd"  id="pwd"  type="text" class="easyui-validatebox" data-options="required:true"  value=""></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
<div id="ddlg-buttons">
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().setpwdSubmit('#rfm','#ddlg')">确定</a> <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#ddlg').dialog('close')">取消</a>
</div>

<!--  赠送VIP dialog -->
<div id="ddlg1" class="easyui-dialog" style="width: 400px; height: 300px; padding: 5px 10px" closed="true" buttons="#ddlg1-buttons"
	data-options="resizable:true,modal:true">
	<div class="easyui-layout" data-options="fit:true,border:false">
		<div data-options="region:'center',border:false" title="" style="overflow: hidden;">
			<form id="rfm1" method="post">
				<table class="table table-hover table-condensed">
					<tr>
						<th width="30%" style="text-align: right;">UUID</th>
						<td><input name="uuid"  id="uuid1" type="text"  class="easyui-validatebox" data-options="required:true" readonly="readonly" value=""></td>
					</tr>
					<tr>
						<th width="30%" style="text-align: right;">昵称</th>
						<td><input name="nickname"  id="nickname1"  type="text" class="easyui-validatebox" data-options="required:true" readonly="readonly"  value=""></td>
					</tr>
					<tr>
						<th width="30%" style="text-align: right;">VIP类型</th>
						<td>
						<select name="vipType" class="easyui-combobox span3" data-options="height:29,editable:false,panelHeight:'auto'" required="required">
									  <option value="1">金卡（月卡）</option>
									  <option value="2">白金卡（年卡）</option>
				        </select>
						</td>
					</tr>
				    <tr>
					    <th width="30%" style="text-align: right;">备注</th>
					    <td><textarea name="remark" placeholder="请填写备注" rows="2" class="easyui-validatebox span4" data-options="required:true"></textarea></td>
				    </tr>
				</table>
			</form>
		</div>
	</div>
</div>
<div id="ddlg1-buttons">
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().giveVipSubmit('#rfm1','#ddlg1')">确定</a> <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#ddlg1').dialog('close')">取消</a>
</div>


</div>  
@};var js={ 
<script src="${CONTEXT_PATH}/static/app/ctrls/player-ctrls.js?num=2.5.4" type="text/javascript"></script>
 @}; include("../layout/_layout.html",{head:head,body:body,js:js,ctrls:ctrls}) {}