.dms-nav,body{
    min-width: 1300px;
}
.first{
    min-width:80px;
}
.dms-container{
    width: 1300px;
}
.dms-right{
    width:1048px;
}
.dms-title,.dms-table{
    width: 970px;
}
/*table表头说明框*/
.dms-table-wrap{
    position: relative;
}
.table-title-info{
    width: 320px;
    padding: 15px 10px;
    border: 1px solid #aaa;
    font-size: 12px;
    background-color: #fff;
    display: none;
    position: absolute;
    top: -44px;
    left: 222px;
    z-index: 9999;
}
.table-title-info h3{
    font-weight: bold;
    margin-bottom: 8px;
}
.table-title-info p{
    line-height: 21px;
}