.dms-condition{
    width: 770px;
    margin: 0 auto;
}
.dms-chart-wrap {
    height: 480px;
}
.dms-chart {
    height: 85%;
}
.dms-table-title{
    font-size: 18px;
    font-weight: bold;
    width: 770px;
    margin: 0 auto;
    margin-bottom: 22px
}


