.dms-condition{
    width: 770px;
    margin: 0 auto;
    margin-bottom: 22px;
}
.dms-chart-wrap{
    height: 520px;
}
.dms-chart{
    height: 81%;
}
.dms-table thead th.first{
    width: 95px;
}
#topUP_total,#topUP_total_title{
    display: none;
}