.dms-condition{
    width: 770px;
    margin: 0 auto;
    margin-bottom: 22px;
}
.dms-btn-date{
    width: 90px;
}
.dms-chart-wrap{
    height: 480px;
}
.dms-chart{
    height: 85%;
}
#totalVersion, #totalVersion_pagination{
    display: none;
}
