<!DOCTYPE html>
<html ng-app="MainApp">
<head>
<meta charset="utf-8">
<title>OMS Login</title>
<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/login.css" />
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/placeholder.js"></script>
<script src="${CONTEXT_PATH}/static/js/security.js" type="text/javascript"></script>
<script src="${CONTEXT_PATH}/static/js/jquery-1.8.3.js" type="text/javascript"></script>
<script src="${CONTEXT_PATH}/static/js/angularjs/angular.min.js" type="text/javascript"></script>
<script src="${CONTEXT_PATH}/static/js/angularjs/ui-utils/ui-utils.min.js" type="text/javascript"></script>
<script src="${CONTEXT_PATH}/static/js/jsbase.js" type="text/javascript"></script>
<script src="${CONTEXT_PATH}/static/app/app.js" type="text/javascript"></script>
<script src="${CONTEXT_PATH}/static/app/ctrls/login-ctrls.js" type="text/javascript"></script>
</head>
<body>

<form  action="${CONTEXT_PATH}/login" id="login"  name="f" method="post" ng-controller="LoginCtrls">

		<div ng-model="msg" ng-init="msg='${msg!}'"></div>
		<font color="#FFF">{{msg}}</font>
		<br>
		
	  <input type="hidden" ng-model="modulus" ng-init="modulus='${modulus}'">
      <input type="hidden" ng-model="exponent" ng-init="exponent='${exponent}'">
      <input  type="text" ng-show="false"   name="key"  ng-model="key"  >
	  <input   id="usename" type="text"  placeholder="Username" ng-model="username"  ng-init="username= '${name!}'" autofocus required>
	  <input   id="password" type="password" placeholder="Password" ng-model="pwd"  value="" required>
      <input type="submit" ng-disabled="f.username.$invalid||f.pwd.$invalid"  ng-click="go()" value="Log In">

</form>

</body>
</html>