.dms-condition{
    width: 770px;
    margin: 0 auto;
}
.dms-btn-date{
    width: 120px;
}
.dms-chart-wrap{
    height: 480px;
}
.dms-chart{
    height: 85%;
}
.table-icon{
    width: 20px;
    margin-left: 5px;
}
/*table表头说明框*/
.dms-table-wrap{
    position: relative;
}
.table-title-info{
    width: 320px;
    padding: 15px 10px;
    border: 1px solid #aaa;
    font-size: 12px;
    background-color: #fff;
    display: none;
    position: absolute;
    top: -178px;
    left: -107px;
    z-index: 9999;
}
.table-title-info h3{
    font-weight: bold;
    margin-bottom: 8px;
}
.table-title-info p{
    line-height: 21px;
}