<!--  
<link href="${CONTEXT_PATH}/static/js/jquery.weather/images/default/julying-weather.css" rel="stylesheet" type="text/css">

<link href="${CONTEXT_PATH}/static/js/jquery.weather/css/main.css" rel="stylesheet" type="text/css">
-->

<div id="head"  style="float:left;height:30px  width:100px; margin-left:20px;  position:relative; z-index: 1">
<!--  
 <table>
 <tr>
 <td><img src="${CONTEXT_PATH}/static/images/depu.jpg" height='30px' width="30px">	</td>
 <td><font color="#fff"><h4 >运营系统</h4></font></td>
 </tr>
 </table>-->
	<font color="#fff"><h4 >Illuminate运营系统</h4></font>

</div> 

<div style="position: absolute; right: 0px; bottom: 0px;">
	 <a href="javascript:void(0);"  id="btn_skin"><font color="#fff">更换皮肤</font></a> 
     <a href="javascript:void(0);" id="btn_logout"><font color="#fff">${session.user.name}</font></a>
</div>

<div id="layout_north_pfMenu" style="width: 120px; display: none;">
	<div ng-click="changeThemeFun('default');" title="default">default</div>
	<div ng-click="changeThemeFun('gray');" title="gray">gray</div>
	<div ng-click="changeThemeFun('metro');" title="metro">metro</div>
	<div ng-click="changeThemeFun('bootstrap');" title="bootstrap">bootstrap</div>
	<div ng-click="changeThemeFun('black');" title="black">black</div>
</div>
<div id="layout_north_zxMenu" style="width: 100px; display: none;">
	<div ng-click="logout();">重新登录</div>
	<div ng-click="logout();">退出系统</div>
</div>

<div ng-init="init_north()"></div> 
